.currency-input {
  padding: 4px 6px;
  
  display: flex;
  border-radius: 3px;
  border: 1px solid var(--border-default);
}

.currency-input:hover {
  border-color: var(--border-hover);
  cursor: pointer;
} 

.currency-input:focus-visible {
  outline: 1px solid var(--border-focus);
} 
