html {
    font-family: sans-serif;
    font-size: 16px;
    color: var(--text-default);


    --background-default: rgb(252, 252, 252, 1);
    --background-soft: rgba(249, 249, 249, 1);
    --text-default: #000;
    --text-soft: #54627a;
    --border-default: rgba(0, 0, 0, 0.5);
    --border-hover: rgba(0, 0, 0, 0.7);
    --border-focus: #000;
    --interactive-accent: rgb(159, 232, 112);
    --interactive-accent-hover: rgb(128, 225, 66)
}

body {
    margin: 0;
    background-color: var(--background-soft);
}

.layout {
    height: 100vh;
    min-height: 320px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget {
    min-height: 320px;
}